#metadata files#
*/.metadata/
.metadata/
.metadata\
*metadata/
*metadata\
*\.metadata\

#resources files
resources
resources
*resources
*resources

#log files#
*.log

# OS Files #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
svyQAPAAS/medias/dataseeds
